<h1>本一覧が出るはず</h1>
<h2>本の追加</h2>
<%= link_to '本を追加する', new_book_path, class: 'btn btn-primary'%>

<ul>
  <% @books.each do |book| %>
    <li><%= link_to book.title ,book_path(book)%></li>
  <% end %>
</ul>
